* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(-135deg, #0f172a, #4338ca);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 48px;
    padding: 24px;
}


/* ------timer------ */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.20);
    border-radius: 32px;
    padding: 40px 48px;
}

.title {
    font-size: 3em;
}

hr {
    width: 100%;
    background-color: #3a3a3a;
    height: 2px;
    border-radius: 1em;
    border: none;
}

.timer {
    font-size: 96px;
    font-weight: bold;
}

.button-wrapper {
    display: flex;
    gap: 16px;
}

#start, #stop, #reset {
    font-size: 24px;
    letter-spacing: 1px;
    padding: 16px 32px;
    border-radius: 360px;
    border: none;
    color: #fff;
    cursor: pointer;
}

#start {
    background-color: #34c759;
}
#stop {
    background-color: #ff3b30;
}
#reset {
    background-color: #007fff;
}


/* ------tasks list------ */
form {
    text-align: center;
    width: 350px;
    border-radius: 32px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.20);
    padding: 24px;
    color: #eaeaea;
}

h1 {
    color: #fff;
    font-size: 1.5em;
}

input[type=text], button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    display: block;
    border: none;
    border-radius: 360px;
    font-size: 14px;
}

.submitButton {
    cursor: pointer;
    padding: 8px;
    background-color: #007fff;
    color: #eaeaea;
    font-size: 14px;
    border-radius: 360px;
    width: 100%;
}

.completedButton {
    cursor: pointer;
    background-color: #007fff;
    padding: 8px;
    color: #eaeaea;
    font-size: 14px;
    border-radius: 360px;
    width: 100%;
}

.removeBtn {
    cursor: pointer;
    background-color: #fff;
    padding: 8px;
    color: #ff3b30;
    /* font-weight: bold; */
    font-size: 14px;
    width: 100%;
}

.editBtn {
    cursor: pointer;
    background-color: #eaeaea;
    padding: 8px;
    color: #007fff;
    /* font-weight: bold; */
    font-size: 14px;
    width: 100%;
}

.submitButton, .removeBtn, .editBtn, .completedButton {
    margin: 8px 0;
}

.submitButton i, .removeBtn i, .editBtn i, .completedButton i {
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 16px;
    color: #151515;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 20px;
}


/* ------optimization------ */
@media (max-width: 430px) {
    .container {padding: 24px 32px; gap: 1em;}

    .title {font-size: 1.5em;}

    .timer {font-size: 48px;}

    .button-wrapper {gap: 8px;}

    button {font-size: 17px; padding: 8px 16px;}
}